*.o
*.in
*.log
*.la
*.lo
*~
*.m4
compile
config.guess
config.status
config.sub
configure
depcomp
install-sh
libtool
missing
ltmain.sh
stamp-h1
src/.libs
src/.deps
lib/.libs
lib/.deps
src/seconds
Makefile
autom4te.cache
