<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>{% block title %}Default title{% end %}</title>
  </head>
  <body>
      <div id="inbox">
        {% for message in items %}
          {{ message }}<br/>
        {% end %}
      </div>
	  <br/><br/>
	  {# 备注信息 #}

	key:
	{% try %}
		{{ key }} {% comment 当页面上传来 key 变量时使用此变量,否则会抛异常而使用下面的值 %}
	{% except %}
		{% block key %}Default key{% end %}
	{% end %}
	<br/><br/><br/>

  </body>
</html>