# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
f0
f0b
f1
fwc
fwc2
fwc3
fstr
fmulstr

# Temporaries
*.swp
oo
oo2
xx

# Flex Generated
f0.cpp
f0b.cpp
f1.cpp
fwc.cpp
fwc2.cpp
fwc3.cpp
fstr.cpp
fmulstr.cpp
