.git
.astylerc
.dmrc
.vimperatorrc
.xinitrc
.xinputrc
.strc
.vimrc
.kderc

.src/haskell
.src/vim
.src/omfc
.src/kn
.src/st
.src/oj
.src/cii
.src/*.gcc
.src/a.out

xmind/
antiddos*
*.exe
*.xls
*.doc
*.ppt
txt/ddos.txt
ddos*
td
