[user]
	name = Yang Zhang
	email = armx86@gmail.com
[core]
	editro = gvim
[merge]
	tool = gvimdiff
[alias]
	conf = !cp -rf ~/.*rc ~/.gitconfig ./
	arch = !cp -rf /etc/rc.conf /etc/pacman.conf /etc/pacman.d/mirrorlist ./
        fedora = !cp -rf /etc/yum* ./
	xmind = !mv ~/.bin/xmind/XMind_Linux/*.xmind ~/share/xmind
	okular = !cp `grep annotation -wl ~/.kde4/share/apps/okular/docdata/*` \
		~/.kde4/share/apps/okular/bookmarks.xml \
		~/.kde4/share/config/okular*rc ./okular
	logbak = !git log > .gitlog
